.about {
  background-color: var(--secondary-bg-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.team-item {
  flex-basis: calc((100% - 3 * var(--item-set-gap)) / 4);

  border-radius: 0px 0px 4px 4px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:nth-child(4n)) {
    margin-right: var(--item-set-gap);
  }

  &:not(:nth-last-child(-n + 4)) {
    margin-bottom: var(--item-set-gap);
  }
}

.employee-meta {
  padding-top: 30px;
  padding-bottom: 30px;

  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.employee-name {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
}

.employee-position {
  margin-bottom: 16px;
  font-size: 16px;

  color: var(--secondary-text-color);
}
