.logo {
  display: inline-block;

  font-family: var(--secondary-font);
  @include font(700, 24px, 1.19);
  //   font-weight: 700;
  //   font-size: 24px;
  //   line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: var(--accent-color);
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 15px;
  color: var(--black-color);
}

.page-footer__logo {
  margin-bottom: 20px;

  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    @include font($fs: 26px);
    //   font-size: 26px;
  }

  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}
