.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color var(--duration) var(--timing-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list-link-theme-light {
  color: var(--icon-color);
  background-color: var(--white-color);
}

.social-list-link-theme-dark {
  color: var(--white-color);
  background-color: var(--icon-bg-color-theme-dark);
}

.social-list-icon {
  fill: currentColor;

  transition: fill var(--duration) var(--timing-func);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--white-color);
  }
}
